# Base #
########

.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
*.html
*.pdf
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.gz
*.toc

# folder #
##########

admin/
data/
doc/
figs/
code/c01_explo_benthic-data_files/
report/
misc/*
!misc/2025-10-20_report-page-cover.jpg
